@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&display=swap');

:root {
  --red: #E52525;
  --green: #1FA23E;
  --orange: #F68B1F;
  --light-off--white: #FFF8F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Epunda Slab", serif;
  line-height: 1.6;
}

/* -------------------------------------------------------------------------- */
/**                         reusable code section start                        */
/* -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Epunda Slab", serif;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

p {
  font-family: "Epunda Slab", serif;
  font-size: 1.6rem;
}

a {
  font-family: "Epunda Slab", sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 1.6rem;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.section-heading {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: var(--red);
  font-weight: bold;
  position: relative;
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1rem;
  width: 15rem;
  height: 0.4rem;
  background: var(--green);
  transform: translateX(-50%);
  border-radius: 2rem;
}

/* -------------------------------------------------------------------------- */
/**                          reusable code section end                         */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/**                            navbar section start                            */
/* -------------------------------------------------------------------------- */

header {
  padding: 0.6rem;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--light-off--white);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.scrolled {
  background: rgba(185, 185, 185, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav .logo img {
  height: auto;
  width: 12rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

nav a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: var(--red);
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  width: 0;
  height: 2px;
  background: var(--green);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

nav .menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--red);
}

/* ---------------------------- navbar responsive --------------------------- */
@media (max-width: 768px) {
  nav .logo img {
    width: 10rem;
  }

  .nav-links {
    background: rgba(185, 185, 185, 0.8);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5rem;
    width: 100% !important;
    padding: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
  }

  .nav-links li {
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  nav .menu-toggle {
    display: block;
  }

}

@media (max-width: 480px) {

  nav .logo img {
    width: 8rem;
  }

  nav a {
    font-size: 1.4rem;
  }

  .nav-links {
    top: 4.4rem;
  }
}

/* -------------------------------------------------------------------------- */
/**                             navbar section end                             */
/* -------------------------------------------------------------------------- */

main {
  padding-top: 6rem;
}

/* -------------------------------------------------------------------------- */
/**                             hero section start                             */
/* -------------------------------------------------------------------------- */


.hero-section {
  width: 100%;
}

.hero-img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.bubbles {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: -150px;
  border-radius: 50%;
  animation: rise var(--speed) linear forwards;
}


@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(-120vh) scale(1.6);
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------- */
/**                              hero section end                              */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/**                            product section start                           */
/* -------------------------------------------------------------------------- */

.product-card-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--orange);
  font-family: "oswald", sans-serif;
}

/* -------------------------------------------------------------------------- */
/**                             product section end                            */
/* -------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------- */
/**                         responsive UI section start                        */
/* -------------------------------------------------------------------------- */

/* Large tablets and below */
@media (max-width: 992px) {
  .section-heading {
    font-size: 3.2rem;
  }

  .section-heading::after {
    width: 12rem;
    bottom: -0.8rem;
  }
}

/* Tablets (≤ 768px) */
@media (max-width: 768px) {
  .section-heading {
    font-size: 2.8rem;
  }

  .section-heading::after {
    width: 10rem;
    height: 0.35rem;
  }
}

/* Large phones (≤ 576px) */
@media (max-width: 576px) {
  .section-heading {
    font-size: 2.4rem;
  }

  .section-heading::after {
    width: 8rem;
    height: 0.3rem;
  }
}

/* Small phones (≤ 480px) */
@media (max-width: 480px) {
  main {
    padding-top: 5rem;
  }

  .section-heading {
    font-size: 2rem;
  }

  .section-heading::after {
    width: 6rem;
    height: 0.25rem;
  }

}

/* Mini phones (≤ 360px) */
@media (max-width: 360px) {
  .section-heading {
    font-size: 1.8rem;
  }

  .section-heading::after {
    width: 5rem;
  }
}

/* -------------------------------------------------------------------------- */
/**                          responsive UI section end                         */
/* -------------------------------------------------------------------------- */