* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  font-size: inherit;
  text-decoration: none;
}

/* -------------------------- navbar section start -------------------------- */

.navbar{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo{
  height: auto;
  width: 12rem;
}

.nav-link{
  font-size: 2rem;
}

/* --------------------------- navbar section end --------------------------- */