@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&display=swap');

:root {
  --red: #E52525;
  --green: #1FA23E;
  --orange: #F68B1F;
  --light-off--white: #FFF8F5;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-bg-white);
  color: var(--color-text-secondary);
  line-height: 1.6;
}

/* -------------------------------------------------------------------------- */
/*                         reusable code section start                        */
/* -------------------------------------------------------------------------- */

/* Typography: Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}


/* Text links */
a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 1.6rem;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}



/* -------------------------------------------------------------------------- */
/*                          reusable code section end                         */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                            navbar section start                            */
/* -------------------------------------------------------------------------- */

header {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav .logo img {
  height: auto;
  width: 12rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: var(--red);
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  width: 0;
  height: 2px;
  background: var(--green);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}


nav .menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--red);
}

/* -------------------------------------------------------------------------- */
/*                             navbar section end                             */
/* -------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------- */
/*                         responsive UI section start                        */
/* -------------------------------------------------------------------------- */


/* ---------------------------------- 1024 ---------------------------------- */

@media (max-width: 1024px) {
  

}


/* ----------------------------------- 768 ---------------------------------- */

@media (max-width: 768px) {

  /* ----------------------------- navbar section ----------------------------- */
  nav .logo img{
    width: 10rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.4rem;
    width: 100% !important;
    padding: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
  }

  .nav-links li {
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  nav .menu-toggle {
    display: block;
  }
}


/* ----------------------------------- 480 ---------------------------------- */

@media (max-width: 480px) {

  /* ----------------------------- navbar section ----------------------------- */
  nav .logo img{
    width: 8rem;
  }

  nav a {
    font-size: 1.4rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                          responsive UI section end                         */
/* -------------------------------------------------------------------------- */